body{
   width: 100%;
   margin: 0;
   padding: 0;
   height: 100%;
   
   position: relative;
color: #fff;
    background-color: #156253;
   background-image: linear-gradient( to right, #156253, #327e56);
}

.color1 {color: #156253;}
.color2 {color: #327e56;}
.color3 {color: #9eb481;}
.color4 {color: #e9e8bf;}
.color5 {color: #edede2;}

form{
    width: 500px;
    
    display:block;
    border: 3px solid #fff;
    padding: 3%;
   border-radius: 20px;
    display: block;
  
    margin: auto;

    position: absolute;               /* 2 */
   top: -50%;                         /* 3 */
   transform: translate(50%,25%);  /* 4 */
    
   background-color: #156253;

    box-shadow: 3px 3px rgba(0, 0, 0, 0.253);
}

.label_pessoal{
    display: block;
    padding-bottom: 15px;
}
textarea{
    width: 100%;
    resize: none;
    background: none;
}
.paragrafo{
    display: inline-block;
}
.section_date{
    padding: 10px 0px;
}
#input_nome, #input_email, #input_date{
    background: none;
}