body{
   width: 100%;
   margin: 0;
   padding: 0;
   height: 100%;
   box-sizing: border-box;
   display: flex;
   vertical-align: middle;
}

form{
    width: 500px;
    
    display: inline-block;
    border: 3px solid black;
    padding: 3%;
   
    display: block;
  
    margin: auto;
    
}

.label_pessoal{
    display: block;
    padding-bottom: 15px;
}
textarea{
    width: 100%;
    resize: none;
}
.paragrafo{
    display: inline-block;
}
.section_date{
    padding: 10px 0px;
}